$primary-background-root: #1b4965;
$primary-background-clock: #edffef;
$primary-border-clock: #4db9a2;
$primary-background-second: #d45a59;
$primary-background-min: #5fa8d3;
$primary-background-hour: #35312e;
$primary-color-text-disabled: #35312e68;
$primary-color-text-active: #35312e;
