@use "_variables" as *;
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: $primary-background-root;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  height: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.clock {
  &__container {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    position: absolute;
  }
  &__numbers {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    color: $primary-color-text-disabled;
    font-weight: 700;
  }
  &__clock {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 280px;
    width: 280px;
    font-weight: 500;
    background-color: $primary-background-clock;
    border: 0.5rem solid $primary-border-clock;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }
  &__toolH,
  &__toolM,
  &__toolS,
  &__tool {
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: #fff;
    border: medium solid $primary-background-hour;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }
  &__hour,
  &__min,
  &__second {
    position: relative;
    height: 100%;
    width: 100%;
  }
  &__hour::after,
  &__min::after,
  &__second::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    height: 0.7rem;
    transform: translateX(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) rotate(-90deg);
    -moz-transform: translateX(-50%) rotate(-90deg);
    -ms-transform: translateX(-50%) rotate(-90deg);
    -o-transform: translateX(-50%) rotate(-90deg);
    border-radius: 0 1rem 1rem 0;
    -webkit-border-radius: 0 1rem 1rem 0;
    -moz-border-radius: 0 1rem 1rem 0;
    -ms-border-radius: 0 1rem 1rem 0;
    -o-border-radius: 0 1rem 1rem 0;
  }
  &__hour::after {
    width: 3.5rem;
    background-color: $primary-background-hour;
    top: -1.7rem;
  }
  &__min::after {
    background-color: $primary-background-min;
    width: 4.5rem;
    top: -2.5rem;
  }
  &__second::after {
    background-color: $primary-background-second;
    width: 5.5rem;
    height: 0.2rem;
    top: -3rem;
  }
  &__content--12 {
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  &__content--1 {
    top: 7%;
    right: 70px;
  }
  &__content--2 {
    top: 25%;
    right: 20px;
  }
  &__content--3 {
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  &__content--4 {
    top: 70%;
    right: 23px;
  }
  &__content--5 {
    bottom: 7%;
    right: 65px;
  }
  &__content--6 {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  &__content--7 {
    bottom: 7%;
    left: 65px;
  }
  &__content--8 {
    top: 70%;
    left: 20px;
  }
  &__content--9 {
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  &__content--10 {
    top: 25%;
    left: 17px;
  }
  &__content--11 {
    top: 7%;
    left: 65px;
  }
}
.foo {
  flex-grow: 0;
  padding: {
    left: 0.5em;
    right: 0.5em;
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 1em;
  }

  &__foo {
    text-decoration: none;
  }

  &__img {
    width: 2.5em;
  }
}

.active {
  color: $primary-color-text-active;
}

@media screen and (min-width: 768px) {
  .clock {
    &__clock {
      height: 500px;
      width: 500px;
    }
    &__numbers {
      font-size: 2rem;
    }
    &__toolH,
    &__toolM,
    &__toolS,
    &__tool {
      width: 2rem;
      height: 2rem;
      border-width: thick;
    }
    &__second::after {
      width: 12rem;
      height: 0.4rem;
      top: -5rem;
    }
    &__min::after {
      width: 8rem;
      top: -3rem;
    }
    &__hour::after {
      width: 5rem;
      top: -2rem;
    }
    &__content--1 {
      right: 125px;
    }
    &__content--2 {
      right: 40px;
    }
    &__content--4 {
      right: 40px;
    }
    &__content--5 {
      bottom: 6%;
      right: 120px;
    }
    &__content--7 {
      bottom: 6%;
      left: 120px;
    }
    &__content--8 {
      left: 35px;
    }
    &__content--10 {
      left: 30px;
    }
    &__content--11 {
      left: 115px;
    }
  }
}
